@import "~bootstrap/scss/bootstrap";

// -----------------------------------------------------------------------------
// Fonts
// -----------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');
$ff_base : 'IBM Plex Sans', sans-serif;

// =============================================================================
// Page level Selectors
// =============================================================================
$prefix            : ".app";


//------------------------------------------------------------------------------
//  font-size
//------------------------------------------------------------------------------
$fw_base    : normal;
$fw_medium  : 500;
$fw_bold    : bold;


//------------------------------------------------------------------------------
//  font-size
//------------------------------------------------------------------------------
$fs_xs      : 14px;
$fs_st      : 16px;
$fs_sm      : 18px;
$fs_md      : 24px;
$fs_lg      : 32px;
$fs_xl      : 36px;


//=============================================================================
//  Main Styles
//=============================================================================
body{
  font-family: $ff_base;
  font-size: $fs_st;
  line-height: 1.5;
  color: var(--dark);
}



//------------------------------------------------------------------------------
//  Page style
//------------------------------------------------------------------------------
h3{
  font-size: 24px;
}
p+h3{
  margin-top: 40px;
}
#{$prefix}{
  &-{
    &title{
      margin-top: 40px;
      margin-bottom: 40px;
    }
    &link{
      &,&:hover,&:focus,&:active{
        text-decoration: none;
        color: var(--blue);
      }
    }
    &form{
      margin-top: 40px;
      padding-bottom: 40px;
      .form{
        &-{
          &error{
            color: var(--danger);
            font-size: $fs_xs;
          }
          &title{
            font-size: $fs_md;
            font-weight: $fw_medium;
            margin-bottom: 24px;
          }
        }
        button{
          margin-top: 24px;
        }
      }
    }
  }
}